@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
}

.contenedor{
    max-width: 1366px;
    margin: 0 auto;
    height: 100vh;
}

.envoltura{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 2rem;
}

.encabezado img {
    width: 170px;
    padding-bottom: 20px;
}

.principal {
    display: flex;
    align-items: center;
    gap: 40px;
}

.texto h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.texto p{
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    margin-bottom: 30px;
}

.texto a{
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    background: white;
    padding: 13px 50px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.texto a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white
}

.redes{
    text-align: right;
}

.redes a i{
    color: white;
    position: relative;
    font-size: 18px;
    
    transition: all 0.3s ease;
}

.redes a:not(:first-child) {
    margin-left: 2rem;
}

.redes a:nth-child(2) {
    margin-left: 2.4rem;
}

.redes a i:after{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    left: -14px;
    bottom: -13px;
    transition: all 0.3s ease;
}

.redes a:hover i{
    color: hsl(300, 69%, 71%);
}

.redes a i:hover::after{
    border-color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 1440px) {
    .principal img{
        width: 100%;
    }
}

@media only screen and (max-width: 375px){
    .principal{
        flex-direction: column;
        text-align: center;
    }

    .redes{
        text-align: center;
        margin-top: 50px;
    }
    
    .texto h1{
        line-height: 1.5;
        font-size: 26px;
    }
    
    .texto a {
        padding: 10px 70px;
    }
}